
  <div class="col-md-6">
    <h2>Sale Categories</h2>
      {{#each categories as |category| }}
          <p>
            <a href="/categories/{{category.id}}">{{category.category_title}}</a>          
          </p>
      {{/each}}
  </div>






<!-- Loop over each object in the projects array -->

  <div class="col-md-6">
    {{#each posts as |post| }}
        <h2>
          <!-- Call helper function with triple brackets to render the emoji span as HTML -->
          
          <a href="/posts/{{post.id}}">{{post.title}}</a>
        </h2>
        <p>
        {{post.description}}
        </p>
        <p>Created by {{post.user.name}} on {{format_date post.date_created}}</p>
    {{/each}}
  </div>

